# Excel constants
main_worksheet_name=procedure
raw_patient_data=procedure_schedule.xlsx
cleaned_workbook_name=cleaned_procedure_schedule.xlsx
canceled_color=FFFF0000
confirmed_appointment_keywords=confirmed,comfirmed
column_name_mapping={"DATE": 1, "FIRST NAME": 2, "LAST NAME": 3, "PROCEDURE ID": 4, "PROCEDURE": 5, "PROCEDURE CODE": 6, "DOB": 7, "INSURANCE": 8, "INSURANCE TYPE": 9, "ADDRESS LINE 1": 10, "ADDRESS LINE 2": 11, "CITY": 12, "STATE": 13, "SEX": 14, "ETHNICITY": 15, "RACE": 16, "DIAGNOSIS": 17}

# Practice Fusion Constants
pf_urf='https://static.practicefusion.com/apps/ehr/index.html#/login'
pf_username_field_id=inputUsername
pf_username=CHANGE ME
pf_password_field_id=inputPswd
pf_password=CHANGE ME
pf_login_button_id=loginButton
pf_send_2fa_code_button_id=sendCallButton
pf_enter_code_field_id=code
pf_send_code_button_id=sendCodeButton
pf_sidebar_label_class=menu-label
pf_charts_element_text=Charts
pf_patient_search_css_select='input[placeholder="Search all patients"]'
pf_first_name_css_select='div[data-element="patient-first-name"]'
pf_last_name_css_select='div[data-element="patient-last-name"]'
